/*动画测试*/
h3 {
	width: 200px;
	height: 100px;
	background-color: red;
	transform: translateX(-1000px);
	transition: all 1s;
}
.current h3 {
	transform: translateX(500px) translateY(400px);
}

/*第一屏*/
.section {
	overflow: hidden;
	position: relative;
}
.first {
	padding-top: 80px;
}

.first .logo {
	width: 251px;
	height: 186px;
	margin: 0 auto;
	background: url(images/logo.png) no-repeat;
}

.first .text {
	text-align: center;
	line-height: 1;
	/*上margin:85px 下margin:45px  左右margin:0*/
	margin: 85px 0 45px;
}

.first img {
	/*上下0,左右24*/
	margin: 0 24px;
	opacity: 0;
	/*此时这里没有current类表示鼠标没有滑到这一屛，也就是鼠标离开这一屛的时候，如果把过渡放在这里，我们可以发现，文字opacity消失的时候也是慢慢消失的，然而我们要的效果是，慢慢出现和快速消失，所以把过渡放在这里不合适*/
	/*transition: all 1s;*/
}

.first .info {
	height: 49px;
	/*center center 是背景所在的位置*/
	background: url(images/info_1.png) center center no-repeat;
}

/*第一屏动画*/
/*注意此时first类和current类并不是父子关系，所以.first和.current之间不用写空格*/
.first.current img {
	margin: 0 10px;
	opacity: 1;
	transition: all 1s;
}

/*第二屛*/
.second {
	/*上下0px 左右100px*/
	padding: 0 100px;
	overflow: hidden;
}

.second>div {
	/*伸缩布局,为下面的子盒子布局*/
	display: flex;
	/*两边空出来，中间平分*/
	justify-content: space-between;
	/*在纵轴上居中*/
	align-items: center;
}

.second .shield {
	width: 428px;
	height: 498px;
}

/*.second img {
	display: block;
	float: left;
}*/

.second img:nth-child(1){
	/*向右移动，向下移动为正*/
	transform: translate(35px,78px) rotate(45deg);
	
}

.second img:nth-child(2){
	/*注意细节，中间要加逗号*/
	transform: translate(135px,282px) rotate(15deg);
}

.second img:nth-child(3){
	transform: translate(187px,62px) rotate(15deg);
}

.second img:nth-child(3) {
	transform: translate(187px, 62px) rotate(15deg);
}

.second img:nth-child(4) {
	transform: translate(10px, 162px) rotate(30deg);
}

.second img:nth-child(5) {
	transform: translate(465px, 522px) rotate(30deg);
}

.second img:nth-child(6) {
	transform: translate(480px, 62px) rotate(90deg);
}

.second img:nth-child(7) {
	transform: translate(180px, -305px) rotate(80deg);
}

.second img:nth-child(8) {
	transform: translate(300px, -22px) rotate(70deg);
}

.second img:nth-child(9) {
	transform: translate(280px, -322px) rotate(60deg);
}
.second .info {
	width: 635px;
	height: 389px;
	background: url(images/info_2.png) no-repeat;
}

/*第二屛动画*/
.second.current img{
	transform: translate(0,0) rotate(0deg);
	/*同理：过渡在这里*/
	transition: all 1s;
}

/*第三屏*/
.third {
	padding: 0 40px;
}

.third > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.third .info {
	width: 631px;
	height: 278px;
	background: url(images/info_3.png) no-repeat;
}

.third .circle {
	width: 453px;
	height: 449px;
	background: url(images/circle.png) no-repeat;
	animation: rot 4s infinite linear;
}

.third .rocket {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 204px;
	height: 204px;
	background: url(images/rocket.png);
	transform: translate(500px, 210px);
}

/*第三屏动画*/
.third.current .rocket {
	transition: all 1s ease-in-out;
	transform: translate(980px, -240px);
}

@keyframes rot{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

/*第四屏*/
.fourth>div{
	/*在父盒子上伸缩定位*/
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

.fourth .search {
	width: 529px;
	height: 320px;
	position: relative;
	transform: translateX(-100%);
}

.fourth .input {
	width: 529px;
	height: 66px;
	background: url(images/search.png) no-repeat;
}

.fourth .key {
	position: absolute;
	left: 20px;
	top: 24px;
	width: 0;
	/*width: 100px;*/
	height: 22px;
	background: url(images/key.png) left center no-repeat;
}

.fourth .wrap {
	width: 529px;
	height: 393px;
	overflow: hidden;
	transform: translateY(-13px);
}

.fourth .result {
	width: 100%;
	height: 100%;
	background: url(images/result.png) no-repeat;
	transform: translateY(-100%);
}

.fourth .info {
	width: 612px;
	height: 299px;
	background: url(images/info_4.png) no-repeat;
}

/*第四屏动画*/
.fourth.current .search {
	/*过渡*/
	transition: all 1s;
	transform: translateX(0);
}

.fourth.current .key {
	/*过渡*/
	/*整个过程执行时间2s,延迟1s执行*/
	animation: typing 1.5s steps(5) 1.3s forwards;
	
}

@keyframes  typing{
	0%{
		width: 0%;
	}
	100%{
		/*注意这里是100px才会有一个字一个字走出来的效果*/
		width: 100px;
	}
}

.fourth.current .result {
	/*过渡*/
	transition: all 1s 3.8s;
	transform: translateY(0);
}

/*第五屛*/
.fifth {
	/*padding-top: 30px;*/
}

.fifth > div {
	display: flex;
	flex-direction: column;
}

.fifth .info {
	height: 135px;
	margin: 30px 0;
	background: url(images/info_5.png) center center no-repeat;
}

.fifth .broswer {
	width: 1004px;
	margin: 0 auto;
	flex: 1;
	background-color: rgba(255, 255, 255, 0.15);
	position: relative;
}

.fifth .toolbar {
	height: 80px;
	background: url(images/toolbar.png) left bottom no-repeat;
	position: relative;
	opacity: 0;
}

.leftline, .topline, .rightline, .bottomline {
	position: absolute;
	border-color: rgba(255, 255, 255, 0.5);
}

.leftline {
	left: 0;
	height: 100%;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	transform: translateY(-100%);
	opacity: 0;
}

.topline {
	top: 0;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	transform: translateX(100%);
	opacity: 0;
}

.rightline {
	right: 0;
	height: 100%;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	transform: translateY(100%);
	opacity: 0;
}

.bottomline {
	bottom: 0;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.fifth .box {
	position: absolute;
	left: 70px;
	top: 32px;
	width: 0;
	/*width: 920px;*/
	height: 27px;
	overflow: hidden;
}

.fifth .box span {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	box-sizing: border-box;
}

.fifth .extra {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 394px;
	height: 29px;
	background: url(images/extra.png);
	opacity: 0;
}

.fifth .line {
	width: 100%;
	position: absolute;
	bottom: 30px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/*第五屏动画*/
.current.fifth .leftline {
	transition: all 1s ease-in-out;
	transform: translateY(0);
	opacity: 1;
}

.current.fifth .topline {
	transition: all 1s 0.5s ease-in-out;
	transform: translateX(0);
	opacity: 1;
}

.current.fifth .rightline {
	transition: all 1s 0.5s ease-in-out;
	transform: translateY(0);
	opacity: 1;
}

/*box和toolbar一起出现*/
.current.fifth .toolbar {
	transition: all 2s 1.5s ease-in-out;
	opacity: 1;
}

.current.fifth .box {
	transition: all 1s 1.5s ease-in-out;
	width: 920px;
}

.current.fifth .extra {
	transition: all 1s 1.5s ease-in-out;
	opacity: 1;
}